/* This is for all IE specfific style less than IE9. We hate IE. */

	div.panel { border: 1px solid #ccc; }
	.lt-ie8 .nav-bar li.has-flyout a { padding-left: 20px; padding-right: 0; }
	.lt-ie8 .nav-bar li.has-flyout a:after { border-top: none; }